#reveal span {
	color: #FFCB3C;
}
.white .state-background {
	background: rgba( 255, 255, 255, 1.0 );
}

.alert-blue .state-background {
	background: rgba( 0, 0, 255, 0.6 );
}

.alert-blue .state-background {
	background: rgba( 0, 0, 255, 0.6 );
}

#main-focus {
	position: relative;
	padding-top: 20%;
}

#txtlzr {
	font-size: 40px;
	width: 700px;
	height: 450px;
	margin-left: 100px;
	word-spacing:40px;
	line-height: 48px;
}
